<div class="container">
  <h1>Cart</h1>
  <button><a href="/cart/deleteAll" class="text">Delete all</a></button>
  {{#if getProductById}}
    {{#with products}}
      {{#if thumbnail}}
        <img src={{thumbnail}} alt="Product Image" />
        {{else}}
        <img src="/public/images/example.js" alt="Product Image" />
      {{/if}}

      <h1>{{title}}</h1>
      <p>Price: {{price}}</p>
      <p>Code: {{code}}</p>
      <p>Status: {{status}}</p>
      <p>{{description}}</p>
      <p>Quantity: {{quantity}}</p>
      <button><a href="/cart/delete/{{id}}" class="text">Delete</a></button>
      <button>Buy</button>
      <button><a href="/listContent/{{id}}" class="text">Watch more</a></button>
      <!--<a href="/cart/addToCart?title={{title}}&{{price}}&code={{code}}&status={{status}}&description={{description}}&tumbnail={{tumbnail}}">
            Add to cart
        </a>-->
    {{/with}}
  {{else}}
    {{#each products}}
      {{#if thumbnail}}
        <img src={{thumbnail}} alt="Product Image" />
        {{else}}
        <img src="/public/images/example.js" alt="Product Image" />
      {{/if}}

      <h1>{{title}}</h1>
      <p>Price: {{price}}</p>
      <p>Code: {{code}}</p>
      <p>Status: {{status}}</p>
      <p>{{description}}</p>
      <p>Quantity: {{quantity}}</p>
      <button><a href="/cart/delete/{{id}}" class="text">Delete</a></button>
      <button>Buy</button>
      <button><a href="/listContent/{{id}}" class="text">Watch more</a></button>
      <!--<a href="/cart/addToCart?title={{title}}&{{price}}&code={{code}}&status={{status}}&description={{description}}&tumbnail={{tumbnail}}">
            Add to cart
        </a>-->
    {{/each}}
  {{/if}}
</div>

<script src="/public/js/product.js"></script>