<link rel="stylesheet" href="/public/styles/listContent.css">

<div class="container">
  {{#with getProduct}}
    <div class="content">
      {{#if thumbnail}}
        <img src="/public/images/example.jpg" alt="Product image" />
      {{/if}}
      <div class="productAttributes">
        <h1>{{title}}</h1>
        <p>Price: {{price}}</p>
        <p>Code: {{code}}</p>
        <p>Status: {{status}}</p>
        <p>Stock: {{stock}}</p>
      </div>
    </div>
    <button class="button">Buy {{title}}</button>
    <div class="description">
    <p><strong>Description: </strong><br>{{description}}</p>
    </div>
  {{/with}}

  <h1>Welcome</h1>

  <form id="formChat">
    <div class="rate">
      <h3>Rate the product</h3>
      <label for="1">
        <input type="radio" value="1" id="rate" name="rate" />
        1</label>
      <label for="2">
        <input type="radio" value="2" id="rate" name="rate" />
        2</label>
      <label for="3">
        <input type="radio" value="3" id="rate" name="rate" />
        3</label>
      <label for="4">
        <input type="radio" value="4" id="rate" name="rate" />
        4</label>
      <label for="5">
        <input type="radio" value="5" id="rate" name="rate" checked />
        5</label>
    </div>

    <div class="commentContent">
      <textarea
        id="message"
        rows="10"
        placeholder="Your opinion make us growth"
        required
      ></textarea>
      <input type="submit" value="All set" />
    </div>

  </form>

  <h3>Comments <strong id="commentsLength"></strong></h3>
  <ul id="chat"></ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const room =
  {{getProduct.id}}
</script>
<script src="/public/js/chat.js"></script>